  <div class="grid-container">
    <div class="list">
      <div class="filter" class="mb-1 mt-1">
        <mat-card>
          <mat-form-field appearance="outline" *ngIf="data.services.getValue()?.length > 1">
              <mat-label>Service</mat-label>
              <mat-select [formControl]="currentService">
                <mat-option *ngFor="let service of data.services |async" [value]="service"> {{service}} </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="margin-l" appearance="outline">
            <mat-label>Observed properties</mat-label>
            <mat-select [formControl]="observedProperties">
              <mat-option *ngFor="let prop of data.observedProperties |async" [value]="prop"> {{prop.name}} </mat-option>
            </mat-select>
          </mat-form-field>
            <button class="margin-l" (click)="refreshFilters()" mat-mini-fab color="accent" matTooltip="Reset filters">
              <mat-icon>refresh</mat-icon>
            </button>
        </mat-card>
      </div>
          <mat-accordion>
            <ng-container *ngFor="let proc of data.procedures | async">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{proc.properties.name}}

                      </mat-panel-title>
                      <mat-action-row>
                        <a
                        [routerLink]="['service', currentService.value, 'procedure', proc.properties.name]"
                        mat-icon-button
                        matTooltip="Display procedure detail"
                        style="color: black"
                        >
                        <mat-icon> info</mat-icon>
                      </a>
                      <button
                      (click)="zoomToFeature(proc)"
                      mat-icon-button
                      matTooltip="Zoom"
                      style="color: black"
                      >
                      <mat-icon> search</mat-icon>
                    </button>
                      </mat-action-row>
                    </mat-expansion-panel-header>
                    <p>{{proc.properties.description}}</p>
                  </mat-expansion-panel>
            </ng-container>

          </mat-accordion>
    </div>
    <leaflet-map
      [center]="config.map.center"
      [zoom]="config.map.zoom"
      [basemap]="config.map.basemap"
      height="95vh"
      >
  </leaflet-map>
    

  </div>

