  <div class="grid-container">
    <div class="list">
          <mat-accordion>
            <ng-container *ngFor="let proc of data.procedures |async">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{proc.properties.name}}

                      </mat-panel-title>
                      <mat-action-row>
                        <a
                        [routerLink]="['procedure', proc.properties.name]"
                        mat-icon-button
                        matTooltip="See the procedure"
                        style="color: black"
                        >
                        <mat-icon> info</mat-icon>
                      </a>
                      <button
                      (click)="zoomToFeature(proc)"
                      mat-icon-button
                      matTooltip="Zoom"
                      style="color: black"
                      >
                      <mat-icon> search</mat-icon>
                    </button>
                      </mat-action-row>
                    </mat-expansion-panel-header>
                    <p>{{proc.properties.description}}</p>
                  </mat-expansion-panel>
            </ng-container>

          </mat-accordion>
    </div>
    <leaflet-map
      [center]="config.map.center"
      [zoom]="config.map.zoom"
      [basemap]="config.map.basemap"
      height="95vh"
      >
  </leaflet-map>
    

  </div>

