{
    "apiBaseUrl": "http://MY_URL",
    "HTTP_API_AUTHENT": "user:passwd",
    "map": {
      "zoom": 10,
      "center": [42, 6],
      "basemap": {
        "name": "OpenstreetMap",
        "url": "//{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png",
        "attribution":"&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
       }
    },
    "excluded_services": ["service_name"],
    "excluded_procedures": ["procedure_name"],
    "defaultService": "my_service",
    "NO_DATA_VALUE": "NaN",
    "appName": "IstSOS Viewer",
    "DISPLAY_DATE_IN_LOCAL_TIMEZONE" : false
}
